auto-save-list/
config.el
eln-cache/
elpaca/
multisession/
recentf
tramp
transient/
url/
projects
.cache/
org-persist/
server/
.org-id-locations
bookmarks
org-roam.db
org-roam.db
.cache/
.org-id-locations
bookmarks
eshell/history